.contHome{
    align-items: center;

.title{
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 4px solid #08f36a;
}

}