<div class="sidebarCont">
  <mat-nav-list>
    <mat-list-item [activated]="true" class="listItem" routerLink="home">
      <a matListItemTitle class="item">
        <mat-icon class="icon" fontIcon="home"></mat-icon>Home</a
      >
    </mat-list-item>
    <mat-list-item class="listItem" routerLink="usuarios">
      <a matListItemTitle class="item"
        ><mat-icon class="icon" fontIcon="person"></mat-icon>Usuarios</a
      >
    </mat-list-item>
    <mat-list-item class="listItem" routerLink="jugadores">
      <a matListItemTitle class="item"
        ><mat-icon class="icon" fontIcon="sports_soccer"></mat-icon>Jugadores</a
      >
    </mat-list-item>
    <mat-list-item class="listItem" routerLink="equipos">
      <a matListItemTitle class="item"
        ><mat-icon class="icon" fontIcon="groups"></mat-icon>Equipos</a
      >
    </mat-list-item>
    <mat-list-item class="listItem">
      <a matListItemTitle class="item"
        ><mat-icon class="icon" fontIcon="flag"></mat-icon>Países</a
      >
    </mat-list-item>
    <mat-list-item class="listItem">
      <a matListItemTitle class="item"
        ><mat-icon class="icon" fontIcon="person_add"></mat-icon
        >Inscripciones</a
      >
    </mat-list-item>
  </mat-nav-list>
</div>
