.contUsuarios{
    align-items: center;

.title{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 45px;
    margin-bottom: 70px;
}
.btnAdd{
    height: 42px;
    background-color: var(--primary);
    color: black;
    margin-bottom: 10px;
    font-weight: 700;
}

}