// SIDE_VAR
.example-container {
  height: 100vh;
}

.sideNav{
  width: 300px;

}

 main{
  width: 70%;
  margin: 0 auto;

  .title{
    text-align: center;
    margin: 50px 0;
    font-weight: 700;
  }
}